**/.vscode
**/.settings
**/.bin
**/.vs
**/.idea
**/build
**/bin
**/obj
**/sandbox/wrapper
**/spacevil/internal/Wrapper/*.h
*.class
*.jar
*.iml
*.exp
*.exe
SpaceVIL.dll
wrapper.dll
glfwwrapper.h
openglwrapper.h
Java/SpaceVIL/spacevil/out
CSharp/SpaceVIL/sandbox/glfw3.dll
CSharp/SpaceVIL/packages
