@font-face {
    font-family: "sans-light";
    src: url(./font/sans-light.ttf);
}


/* Light background: #3 5 3 6 2 9; */


/* New light dark background #3 2 3 6 3 d */


/* Dark background: #d f e 5 f 2; */


/* TOP MENU */

.sm-dox {
    background: #dfe5f2 !important;
}

.sm-dox a {
    background: none;
}

body {
    background: rgb(42, 42, 42);
    background-image: none;
    color: #D8D8D8;
    font-family: "sans-light";
}

div.fragment,
pre.fragment {
    border: 0px solid #000000;
    background: rgb(55, 55, 55);
}

a,
a:link {
    font-family: "sans-light";
    font-size: 12pt;
    color: rgb(255, 255, 255);
    margin-top: 10px;
    margin-bottom: 10px;
}

a:visited {
    font-family: "sans-light";
    font-size: 12pt;
    font-weight: bold;
    line-height: 36px;
    text-decoration: none;
    text-shadow: 0 1px 1px rgba(255, 255, 255, 0.9);
    color: rgb(180, 180, 180);
    outline: 0;
    margin-right: 10px;
    margin-top: 10px;
    margin-bottom: 10px;
    text-transform: uppercase;
}

.highlighted {
    background: none !important;
}

a.highlighted {
    background: none !important;
}


/*********************************************/


/**              Top main menu              **/


/*********************************************/

.arrow {
    color: rgb(97, 175, 239);
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    cursor: pointer;
    font-size: 80%;
    display: inline-block;
    width: 16px;
    height: 22px;
}

#main-nav {
    /* display: none; */
    background-color: rgb(55, 55, 55);
    border-bottom: 1px solid rgb(55, 55, 55);
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.15);
    padding-left: 40px;
}

#main-nav .sm-dox {
    background: transparent !important;
}

.sm-dox a {
    text-shadow: none !important;
    background: transparent !important;
}

.sm-dox a:hover {
    background: rgba(255, 255, 255, 0.1) !important;
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.15);
}

.sm-dox {
    text-shadow: none !important;
    box-shadow: none !important;
}

.sm-dox ul {
    border: 0px solid #000000;
    background: rgb(65, 65, 65);
    padding-top: 0px;
    padding-bottom: 0px;
}

.directory tr.even {
    background: rgb(55, 55, 55);
    color: rgb(180, 180, 180);
}

.directory td.desc {
    padding-top: 15px;
    padding-bottom: 15px;
    padding-left: 20px;
    padding-right: 20px;
    /* margin-left: 20px; */
    border-left: 2px solid rgba(0, 0, 0, 0.2);
    font-size: 12pt;
}

div.qindex {
    background-color: transparent;
    border: none;
    text-align: center;
    color: rgb(180, 180, 180);
}


/*********************************************/


/**               Top search                **/


/*********************************************/

#MSearchSelectWindow {
    border: none;
    background: rgb(65, 65, 65);
}

a.selectItem {
    padding: 3px;
}

a.SelectItem:hover {
    background: rgba(255, 255, 255, 0.1) !important;
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.15);
}

#MSearchResultsWindow {
    border: 0px solid #000000;
    background: rgb(65, 65, 65);
    color: #67d8ef !important;
}


/*********************************************/


/**                Main menu                **/


/*********************************************/

#nav-tree {
    background: transparent;
}

#nav-tree .selected {
    background-image: none;
    background: rgba(201, 201, 201, 0.212);
}

#nav-tree li {
    white-space: nowrap;
    padding: 0px;
}

#nav-tree .item {
    padding-left: 20px;
    padding-top: 4px;
    padding-bottom: 4px;
}

#nav-tree .item:hover {
    background-color: rgba(255, 255, 255, 0.1);
}


/*********************************************/


/**               Main content              **/


/*********************************************/


/*********************************************/


/**               Inline code               **/


/*********************************************/

p code,
li code,
td code,
dd code {
    background-color: #000000;
    border: 1px solid #A8B8D9;
    color: #D8D8D8;
}


/*********************************************/


/**         Table of Contents (ToC)         **/


/*********************************************/

div.toc {
    background: rgb(55, 55, 55);
    border: 1px solid #000000;
}

div.toc h3 {
    font-size: 150%;
    color: inherit;
}


/*********************************************/


/**              Content table              **/


/*********************************************/

table.doxtable tr:nth-child(even) td {
    background: rgb(55, 55, 55);
}

div.header {
    background: transparent;
    border-bottom: 3px solid rgb(65, 65, 65);
}


/*********************************************/


/**               Field table               **/


/*********************************************/

.fieldtable th {
    background: #282923;
    color: inherit;
}


/*********************************************/


/**           Memitem and memtitle          **/


/*********************************************/

.memdoc {
    border: 1px solid #A8B8D9;
}


/*********************************************/


/**             TOP navigation              **/


/*********************************************/

.tabs,
.tabs2,
.tabs3 {
    background: #DDDDDD;
}

.tablist li {
    background: transparent !important;
}

.tablist a {
    background-image: none;
    border-right: 1px solid #999999;
    color: rgb(55, 55, 55);
}

.tablist a:hover,
.tablist li.current a {
    text-decoration: none;
    color: #000000;
    background: #CCCCCC;
    background-image: none;
}


/*********************************************/


/**              H1 in textblocks           **/


/*********************************************/


/*********************************************/


/**               Note, warning             **/


/*********************************************/


/*********************************************/


/**               Reference list            **/


/**Similar to warning/note/todo/... messages**/


/*********************************************/

dl.reflist {}


/*********************************************/


/**               Note, warning             **/


/*********************************************/

#docs_list {
    background: rgb(55, 55, 55);
}

#docs_list ul li {
    border-right: 1px solid #BFBFBF;
}

#docs_list ul li a {
    color: #1b1e21;
}

#docs_list ul li a:hover,
#docs_list ul li a.docs_current {
    background: #282923;
}


/*********************************************/


/**               Resizable UI              **/


/*********************************************/

.ui-resizable-e {
    background: rgb(65, 65, 65);
    width: 5px;
}


/*********************************************/


/**               Download url              **/


/*********************************************/


/*********************************************/


/**               Syntax folor              **/


/*********************************************/

div.line {
    background: transparent;
    color: inherit;
}

div.line a {
    color: inherit;
}

span.keyword {
    color: #f92472;
    font-style: italic;
}

span.keywordtype {
    color: #67cfc1;
    font-style: italic;
}

span.keywordflow {
    color: #f92472;
    font-style: italic;
}

span.comment {
    color: #74705a;
}

span.preprocessor {
    color: #a6e22b;
}

span.stringliteral {
    color: #e7db74;
}

span.charliteral {
    color: #e7db74;
}

span.vhdldigit {
    color: #ff00ff;
}

span.vhdlchar {
    color: #000000;
}

span.vhdlkeyword {
    color: #700070;
}

span.vhdllogic {
    color: #ff0000;
}

span.lineno {
    background: transparent;
}

span.lineno a {
    background: transparent;
}


/*********************************************/


/**          Modules/Directory table        **/


/*********************************************/

.mdescLeft,
.mdescRight,
.memItemLeft,
.memItemRight,
.memTemplItemLeft,
.memTemplItemRight,
.memTemplParams {
    background: rgb(55, 55, 55);
    color: inherit;
    padding: 10px;
}

.memSeparator {
    border: none;
    background: transparent;
}

h2.groupheader {
    border-bottom: 2px solid rgb(65, 65, 65);
    color: white;
    font-weight: 900;
}


/*********************************************/


/**                 Mem items               **/


/*********************************************/

.memtitle {
    background: rgb(55, 55, 55) !important;
    border-color: #000000;
    border: none;
    border-radius: 0px;
}

.memitem {
    background: rgb(55, 55, 55) !important;
    color: inherit;
    text-shadow: none;
}

.memproto {
    background: inherit;
    border-color: #000000;
    color: inherit;
    text-shadow: none;
    border: none;
    border-bottom: 2px solid rgb(42, 42, 42);
}

.memproto table td {
    font-family: "sans-light", fixed !important;
}

td.memItemLeft,
td.memItemRight {
    font-family: "sans-light", fixed;
}

.paramname,
.paramname em {
    color: #bf5f82;
}

.memdoc {
    background: inherit;
    border-color: #000000;
    border-radius: 0;
    border: none;
}

.titlearea {
    border-bottom: 1px solid rgb(55, 55, 55);
}

#headertitle {
    border-bottom: 2px solid rgb(42, 42, 42);
    background-color: #2e3339;
}

#spacevil_name {
    font: 20pt "sans-light";
    font-weight: 900;
    margin-left: 30px;
    margin-top: 30px;
    padding: 2px 0px;
    color: rgb(97, 175, 239);
}

#spacevil_version {
    font: 20pt "sans-light";
    font-weight: 900;
    margin-left: 0px;
    margin-top: 30px;
    padding: 2px 0px;
}

#spacevil_description {
    font: 14pt "sans-light";
    margin-left: 30px;
    margin-top: 10px;
    margin-right: 30px;
    margin-bottom: 20px;
}

#nav-path {
    background: transparent;
}

#nav-path ul {
    background: rgb(32, 32, 32);
    color: inherit;
    border: none;
    border-top: 2px solid rgb(65, 65, 65);
}

.navpath li.footer {
    color: inherit;
}

.navpath li.navelem a {
    text-shadow: none;
    margin: 0px;
    color: rgb(216, 166, 73);
    font-weight: 00;
    padding-left: 10px;
    padding-right: 10px;
}

.navpath li.navelem a:hover {
    color: rgb(216, 166, 73);
    background: rgba(255, 255, 255, 0.1);
}


/*********************************************/


/**             Custom scrollbar            **/


/*********************************************/

::-webkit-scrollbar {
    width: 12px;
    height: 12px;
    background-color: transparent;
}


/* Track */

::-webkit-scrollbar-track {
    margin-top: 5px;
    margin-bottom: 5px;
    border-radius: 6px;
    background: rgb(55, 55, 55);
}


/* Handle */

::-webkit-scrollbar-thumb {
    background: rgb(30, 30, 30);
    border: none;
    border-radius: 6px;
}


/* Handle on hover */

::-webkit-scrollbar-thumb:hover {
    background: rgb(75, 75, 75);
}

::-webkit-scrollbar-corner {
    background-color: transparent;
}


/*********************************************/


/**             Custom scrollbar            **/


/*********************************************/

h1.glow,
h2.glow,
h3.glow,
h4.glow,
h5.glow,
h6.glow {
    text-shadow: 0 0 15px #67d8ef;
}

.icon {
    font-family: "sans-light";
    font-weight: bold;
    font-size: 10pt;
    height: 20px;
    width: 20px;
    display: inline-block;
    background-color: rgb(216, 166, 73);
    color: white;
    text-align: center;
    border-radius: 10px;
    margin-left: 2px;
    margin-right: 2px;
}

div.ah,
span.ah {
    background-color: rgb(216, 166, 73);
    font-weight: bold;
    text-transform: uppercase;
    color: black;
    margin-bottom: 10px;
    margin-top: 10px;
    padding: 5px;
    border: solid thin #333;
    border-radius: 0;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    box-shadow: 2px 2px 3px #999;
    -webkit-box-shadow: 2px 2px 3px rgb(32, 32, 32);
    -moz-box-shadow: rgba(0, 0, 0, 0.15) 2px 2px 2px;
    background-image: none;
    background-image: none;
}